/*Aqui va todo el desktop, Dimensiones Desktop 1400 x 667 (fuera del media query va todo lo del desktop*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: 50% 61% ;
    background-size: 490%;
    height: 100%;
}

.image-arrow {
    width: 5%;
    height: 10%;
    padding-top: 2%;
    padding-left: 2%;
}

.play-button {
    padding-left: 5%;
    padding-right: 5%;
}

.container-head {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 40%;
    gap: 10%;

}
   
.container-cups {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-top: 8%;
    padding-left: 25%;
}

.container-hourglass {
    float: right;
    margin-top: 5%;
    padding-right: 5%;
}

.container-down {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 7%;
    gap: 1%;

}

.reset-button {
    padding-top: 2%;
}
#imagen-button{
    width: 25%;
    height: 60%;
    padding-top: 10%;
    margin-left: 125%;
    cursor: pointer;
}

#imagen-play{
    width: 20%;
    height: 95%; 
    margin-left: 75%;
    cursor: pointer;
}

#imagen-arrow {
    padding-top: 2%;
    width: 100%;
    height: 100%;
} 


#imagen-ballon-2 {
    width: 20%;
    height: 50%;
}

#imagen-hourglass {
    width: 30%;
    height: 40%;
    margin-left: 50%;
}

#imagen-cup-3 {
    width: 80%;
    height: 80%;
}

#reset {
    background-color: #ae0139;
    border: 3px solid #f7e034;
    border-radius: 30px;
    font-family: Irish Grover;
    font-size: 25px;
    padding: 5px 20px;
    color: #f7e034;
    cursor: pointer;

}
/*GLOBO 1*/
.container-ballon-1 {
    position: relative;
    display: inline-block;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-1{
    width: 210px;
    height: 230px;
}

.text-overlay-1{
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 160%;
    font-weight: bold;
    cursor: pointer;
    font-family: Irish Grover;
    text-align: center;
}

/*GLOBO 2*/
.container-ballon-2 {
    position: relative;
    display: inline-block;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-2{
    width: 210px;
    height: 230px;
}

.text-overlay-2{
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 160%;
    font-weight: bold;
    cursor: pointer;
    font-family: Irish Grover;

}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: Irish Grover;
}

.title{
    color:transparent;
    background: linear-gradient(hsl(58, 100%, 61%) 46% , hsl(22, 100%, 50%) 70%,hsl(20, 98%, 51%) 100%, hsl(8, 89%, 58%)100%);
    background-clip: texto;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 800%;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    html, body, header, main {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
    background-image: url(../assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 60% ;
    background-size: 440%;
}

/*GLOBO 1*/
.container-ballon-1 {
    position: relative;
    display: inline-block;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-1{
    width: 110px;
    height: 120px;
}

.text-overlay-1{
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
}

/*GLOBO 2*/
.container-ballon-2 {
    position: relative;
    display: inline-block;
    font-family: Irish Grover;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-2{
    width: 110px;
    height: 120px;
}

.text-overlay-2{
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
    font-family: Irish Grover;

}

.image-arrow {
    width: 10px;
    height: 10px;
    padding-top: 10px;
    padding-left: 0;
}

.play-button{
    padding-left: 0px;
    padding-right: 0px;
}

.container-head {
    display: flex;
    justify-content: center;
}
   
.container-cups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    padding-top: 7%;
    padding-left: 35%;
}

.container-hourglass {
    float: right;
    margin-bottom: 5%;
    padding-right: 5%;
}

.container-down {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    padding-top: 0%;
    padding-left: 3%;
}

.reset-button {
    padding-left: 3%;
    padding-top: 2%;
}

#imagen-button{
    margin-left: 30%;
    width: 20%;
    height: 55%; 
    cursor: pointer;
}

#imagen-play{
    width: 12%;
    height: 70%;
    margin-left: 52%;
    cursor: pointer;
}

#imagen-arrow {
    padding: 10px;
    width: 40px;
    height: 25px;
} 



#imagen-hourglass {
    width: 20%;
    height: 20%;
    margin-left: 80%;
}

#imagen-cup-3 {
    width: 90px;
    height: 120px;
}

#reset {
    background-color: #ae0139;
    border: 3px solid #f7e034;
    border-radius: 30px;
    font-family: Irish Grover;
    font-size: 18px;
    padding: 5px 20px;
    color: #f7e034;
    cursor: pointer;

}

.title{
    color:transparent;
    background: linear-gradient(hsl(58, 100%, 61%) 46% , hsl(22, 100%, 50%) 70%,hsl(20, 98%, 51%) 100%, hsl(8, 89%, 58%)100%);
    background-clip: texto;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 500%;
}
}
