/*Aqui va todo el desktop, Dimensiones Desktop 1461 x 1024 (fuera del media query va todo lo del desktop*/
html {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}
body {
    background-image: url(../assets/images/taburete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    width: 100%;
    height: 25%;
    margin: 0;
    padding: 0;
}

.cup {
    transition: transform 0.5s;
}

.little-ball {
    width: 4%;
    height: 12%;
    background-color: red;
    border-radius: 50%;
    border: 2px black solid;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.image-arrow {
    width: 5%;
    height: 10%;
    padding-top: 2%;
    padding-left: 2%;
}

.container-head {
    display: flex;
    justify-content: center;
    width: 100%; 
    gap: 5%;
    padding: 0;
    margin: 0 auto; 
}
   
.container-cups {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-top: 18%; 
    margin: 0 auto;

}

.cup img {
    cursor: pointer;
}

/*RELOJ DE ARENA*/
.container-hourglass {
    position: absolute;
    right: 0%;
    top: 20%;
}

.clock-and-countdown {
    display: flex;
}
/* Alertas */
#winner-alert {
    display: none;
}


.win-a.show {
    display: block; /* Mostrar la alerta */
    opacity: 1; /* Hacerla opaca */
    transform: translateX(-50%) translateY(-20px); /* Moverla hacia arriba */
}

.win-a {
    position: fixed;
    height: 200px;
    width: 300px;
    transform: translateX(-50%);
    background-color: hsla(263, 44%, 44%, 1); 
    border: 6px solid rgba(247, 224, 52, 1); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
    animation: fadeIn 0.5s; 
    text-align: center; 
    color: #f7e034; 
    font-size: 30px; 
    font-family: Josefin Sans, Arial;
    position: relative;
}

.close-alert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


#imagen-hourglass {
    width: 25%;
    height: 45%;
}

#countdown {
    font-family: 'Irish Grover', cursive;
    font-size: 5em;
    color: #f7e034;
    text-align: center;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    margin-right: 10px;
}
@keyframes rotate-hourglass {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#imagen-hourglass.rotating {
    animation: rotate-hourglass 4s linear infinite;
}
.container-down {
    display: flex;
    flex-direction: row;
    gap: 29%;
    margin: 0 auto; 
    width: 100%; 
    padding-top: 10%;
    justify-content: space-between;
}

.reset-button {
    padding-top: 2%;
    padding-left: 5%;
}

#imagen-button {
    width: 30%;
    cursor: pointer;
}

#start-button {
    background-image: url(../assets/icons/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border-style: hidden;
    cursor: pointer;
}

#imagen-arrow {
    padding-top: 2%;
    width: 100%;
    height: 100%;
} 

#imagen-ballon-2 {
    width: 20%;
    height: 50%;
}

#imagen-cup-3 {
    width: 90%;
    height: 90%;
}

#reset {
    background-color: #ae0139;
    border: 3px solid #f7e034;
    border-radius: 30px;
    font-family: Irish Grover;
    font-size: 35px;
    padding: 5px 20px;
    color: #f7e034;
    cursor: pointer;

}
/*GLOBO 1*/
.container-ballon-1 {
    position: relative;
    display: inline-block;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-1{
    width: 210px;
    height: 230px;
}

.text-overlay-1{
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 160%;
    font-weight: bold;
    cursor: pointer;
    font-family: Irish Grover;
    text-align: center;
}

/*GLOBO 2*/
.container-ballon-2 {
    position: relative;
    display: inline-block;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-2{
    width: 210px;
    height: 230px;
}

.text-overlay-2{
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 160%;
    font-weight: bold;
    cursor: pointer;
    font-family: Irish Grover;

}

/* Estilo para el fondo del modal */
.modal {
    display: flex; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    justify-content: center; 
    align-items: center; 
}

/* Estilo para el contenido del modal */
.modal-content {
    height: 540px;
    width: 940px;
    background-color: hsla(263, 44%, 44%, 1); 
    border: 6px solid rgba(247, 224, 52, 1); 
    border-radius: 50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
    animation: fadeIn 0.5s;  
    color: #f7e034; 
    font-size: 30px; 
    font-family: Josefin Sans, Arial;
    position: relative;
}

/* Estilo para el botón de cierre */
.close {
    color: #d4d113;
    font-size: 45px;
    font-weight: bold;
    position: absolute; 
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para el título y los párrafos */
.modal-content h2 {
    margin-top: 0; 
    text-align: center; 
}

.modal-content p {
    margin: 10px 0; 
    text-align: center; 
}

h1 {
    font-family: Irish Grover;
}

.title{
    color:transparent;
    background: linear-gradient(hsl(58, 100%, 61%) 46% , hsl(22, 100%, 50%) 70%,hsl(20, 98%, 51%) 100%, hsl(8, 89%, 58%)100%);
    background-clip: texto;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 800%;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    html {
        height: 100vh;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    body {
        background-image: url(../assets/images/taburete.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0%;
        height: 100vh;

    }

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
width: 100%;
height: 25%;
margin: 0;
    padding: 0;
}

#ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

/*GLOBO 1*/
.container-ballon-1 {
    position: relative;
    display: inline-block;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-1{
    width: 110px;
    height: 120px;
}

.text-overlay-1{
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
}

/*GLOBO 2*/
.container-ballon-2 {
    position: relative;
    display: inline-block;
    font-family: Irish Grover;
}

.btn-ballon {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#imagen-ballon-2{
    width: 110px;
    height: 120px;
}

.text-overlay-2{
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 80%;
    font-weight: bold;
    cursor: pointer;
    font-family: Irish Grover;

}

.image-arrow {
    width: 10px;
    height: 10px;
    padding-top: 10px;
    padding-left: 0;
}


.container-head {
    display: flex;
    justify-content: center;
}
   
.container-cups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    padding-top: 35%;
    padding-left: 3%;
}


/*RELOJ DE ARENA*/
.container-hourglass {
    position: absolute;
    left: 80%; 
    bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-and-countdown {
    display: flex;
}

#imagen-hourglass {
    width: 35%;
    height: 45%;
}

#countdown {
    font-family: 'Irish Grover', cursive;
    font-size: 4em;
    color: #f7e034;
    text-align: center;
}
@keyframes rotate-hourglass {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#imagen-hourglass.rotating {
    animation: rotate-hourglass 4s linear infinite;
}


.container-down {
    display: flex;
    flex-direction: row;
    gap: 30%;
    margin: 0 auto; 
    width: 95%; 
    padding-top: 9%;
    justify-content: space-between;
}

.reset-button {
    padding-left: 3%;
    padding-top: 2%;
}

#imagen-button{
    width:30%;
    cursor: pointer;
}

#start-button {
    background-image: url(../assets/icons/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-style: hidden;
}

#imagen-arrow {
    padding: 10px;
    width: 40px;
    height: 25px;
} 



#imagen-cup-3 {
    width: 90px;
    height: 120px;
}

#reset {
    background-color: #ae0139;
    border: 3px solid #f7e034;
    border-radius: 30px;
    font-family: Irish Grover;
    font-size: 18px;
    padding: 5px 20px;
    color: #f7e034;
    cursor: pointer;

}

.title{
    color:transparent;
    background: linear-gradient(hsl(58, 100%, 61%) 46% , hsl(22, 100%, 50%) 70%,hsl(20, 98%, 51%) 100%, hsl(8, 89%, 58%)100%);
    background-clip: texto;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 500%;
}
/* Estilo para el fondo del modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4); 
    justify-content: center; 
    align-items: center; 
}

/* Estilo para el contenido del modal */
.modal-content {
    height: 300px;
    width: 500px;
    background-color: hsla(263, 44%, 44%, 1); 
    border: 6px solid rgba(247, 224, 52, 1); 
    border-radius: 50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
    animation: fadeIn 0.5s; 
    text-align: center; 
    color: #f7e034; 
    font-size: 15px; 
    font-family: Josefin Sans, Arial;
    position: relative;
}

/* Estilo para el botón de cierre */
.close {
    color: #d4d113;
    font-size: 28px;
    font-weight: bold;
    position: absolute; 
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para el título y los párrafos */
.modal-content h2 {
    margin-top: 0; 
    text-align: center; 
}

.modal-content p {
    margin: 10px 0; 
    text-align: center; 
}

}
