::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
    background-image: url(../assets/images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

main {
    flex:1;
    padding: 0;
    margin: 0;
    justify-items: center;
    align-content: center;
}
header{
    width: 100%;
   height: 200px;
    
    
}


.container-ballon-P{
   display: flex;
    margin-left: 10%;
    padding: 10%;
    margin-top: -15%;
}
.text-overlay-P {
    
    transform: translate(-50%, -50%);
    color: #f7e034;
    font-size: 36px ; 
    margin-top: 40%;
    margin-right: 100px;
    
}

#image-ballon-P {
    width: 260px;
    height: 310px;
    margin-top: -85%;
    margin-left: -60%;
    padding: 0;

    
}

h1{
    color:transparent;
    background: linear-gradient(hsl(58, 100%, 61%) 46% , hsl(22, 100%, 50%) 70%,hsl(20, 98%, 51%) 100%, hsl(8, 89%, 58%)100%);
    background-clip: texto;
    -webkit-background-clip: text;
   margin: 0;
   font-size: 140px;
   margin-left: 33%;
   font-family: Irish Grover;
}


header {
    color: white;
}
/*boton instrucciones*/
.button-red {
   
    width: 490px;
    height: 65px;
    background-color: #ae0139;
    border: 3px solid #f7e034;
    border-radius: 30px;
    font-family: Irish Grover;
    margin: auto;
    margin: 0 0 6% 0;
    margin-left: 36%;
    justify-content: center;
    display: flex;

}
.button-red, p{
    font-size: 48px;
    color: #f7e034;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px  #f7e034;
    background-color: transparent; 
    margin: auto;
   
}
/* caja vasos*/
.container {
    width: 940px;
    height: 540px;
    background-color: hsl(263, 44%, 44%,80%);
    border: 22px solid #f7e034;
    border-radius: 90px;
    display:flex;
    padding: auto;
    justify-content: center;
    margin-left: 25%;
    margin-top: -5%;
    align-content: center;


}
.image-container{
    width: 238px;
    height: 334px;
    margin-top: 30%;
    padding: 10px; 
   
}
#button1{
    margin-right: 0%;

}
/*boton de play y sonido*/

.container-song{
    display: flex;
    height: 150px;
    width: 100%;
}
.button-play {
    width: 476px;
    height: 103px;
    background-color: #ae0139;
    border: 3px solid #f7e034;
    border-radius: 30px;
    font-family: Irish Grover;

    margin-top: 20px;
    align-items: center;
    margin-left: 38%;


}
.play{
    font-size: 90px;
    color: #f7e034;
    -webkit-text-stroke: 2px black;
}

.image-sound{
   
    align-items:center;
    margin-left: 15%;
    
 
}
/*footer*/
footer {
    background-color: #f05b16;
    color: white;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
footer p{
    color: white;
    font-size: 16px;
    width: 100%;
    justify-items: center;
    align-content: space-between;
    text-align: center;
    padding: auto;

}
.terms{
    width: 100%;
    display: flex;
}

/* Estilos responsivos para movil */


@media screen and (max-width:576px) {
    body{
       /* display:flex ;
        flex-direction: column;*/
        grid-template-columns: 1fr;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    header{
        width: 100%;
       height: 10px;
        
        
    }
    .btn-score-P{
        display: contents;
        
    }
    .container-ballon-P{
        display: flex;
         padding: 0;
         margin-top: 5%;
         
     }

    #image-ballon-P {
        width: 90px;
        height: 90px;
     
        
    }
    .text-overlay-P {
        margin-top: 10px;
        font-size: 16px ; 
        display: flex;
        
    }
    .container {
        
        background-color: transparent;
        border: transparent;
        border-radius: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
       


}
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(263, 44%, 44%,80%);
    border: 10px solid #f7e034;
    border-radius: 90px;
    width: 300px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    margin-left: 10%;


}
h1 {
    font-size: 64px;
    margin-top: -5%;
    justify-content: center;
    
}
.button-red p{
    font-size: 1.8rem;

}
.image-container img {

    width: 85px;
    height: 120px;
    margin: 0;
    padding: 2px;

}
.button-red {
    width: 334px;
    height: 46px;
    justify-content: center;
    margin-top: -10%;
}

.button-play {
    width: 170px;
    height: 77px;
    margin-top: 10%;
    display: flex;
    margin-right: 15%;
   


}
.play{
    font-size: 50px;
    color: #f7e034;
    -webkit-text-stroke: 2px black;
}

footer{
    display: none;
}
/*

.button-red, p{
    font-size: 32px;

}

*/

}