/* Estilos para móvil */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 932px;
  width: 430px;
}

main{
  flex: 1;
}
/*HEADER*/
h1 {
  font-family: Irish Grover;
  font-size: 55px;
  height: 100%;  
  
}

.title {
 color:transparent;
    background: linear-gradient(hsl(58, 100%, 61%) 46% , hsl(22, 100%, 50%) 70%,hsl(20, 98%, 51%) 100%, hsl(8, 89%, 58%)100%);
    background-clip: texto;
    -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-size: 100% 100%;  
  background-repeat: no-repeat; 
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 5px;
}

header, nav, main {
  text-align: center;
}


/*MAIN*/
.allblocks {
  margin-top: -24px;
}

.container-ballon-1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

#image-ballon {
  width: 100px; 
  position: relative;
}

.home-text {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px; 
  color:rgba(247, 224, 52, 1);
  z-index: 2;
  font-family: Irish Grover;
}

.red_choose {
  height: 37px;
  width: 65%;
  background-color: rgba(174, 1, 57); 
  border: 3px solid #f7e034;
  border-radius: 30px;
  font-family: Irish Grover;
  justify-content: center;
  font-size: 25px;
  color: rgba(247, 224, 52, 1);
  margin: 10px;
  animation: scale-up-top 5s linear 4s infinite; 
}

@keyframes scale-up-top {
  0% {
    transform: scale(0.5);
    transform-origin: center top;
  }
  100% {
    transform: scale(1);
    transform-origin: center top;
  }
}

.lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.red_play {
  height: 65px;
  width: 55%;
  background-color: rgba(174, 1, 57); 
  border: 3px solid #f7e034;
  border-radius: 30px;
  font-family: Irish Grover;
  font-size: 45px;
  color: rgba(247, 224, 52, 1);
  justify-content: center;
  margin-top: 2px;
  margin-left: 65px;
  animation: shake-left-right 0.8s linear both 2s infinite, 
  move-pause 3s linear 2s infinite; 
}

@keyframes shake-left-right {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}

@keyframes move-pause {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
.sound-button {
  width: 30px; 
  height: 30px; 
}
.sound-button img {
  width: 100%;
  height: 100%;
}
.cups-mobile{
 margin-top: 2%;
}
.circus {
  height: 130px;
  width: 55%;
  background-color: hsl(263, 44%, 44%,80%); 
  border: 6px solid rgba(247, 224, 52, 1); 
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex; 
  align-items: center; 
  padding: auto;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.image-container img {
  max-width: 30%;
  max-height: auto;
  object-fit: contain; 
}

footer {
      background-color: #f07035;
      color: white;
      position: fixed; 
      bottom: 0;
      left: 0;
      width: 100%;
      font-family: Josefin Sans, Arial;
      text-align: center;
      justify-content: center;
      height: 60px;
  }

ul {
      list-style: none;
      padding: 0;
  }

  .cups_desktop {
    display: none;
  }
  .terms{
    font-size: 15px; 
  }

  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no interfiera con los clics */
    overflow: hidden;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .star {
    position: absolute;
    top: -10px; /* Comienza fuera de la pantalla */
    width: 5px;
    height: 5px;
    background: rgb(59, 248, 248);
    border-radius: 50%;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh); /* Baja hasta el fondo de la pantalla */
    }
  }
/* Estilos responsivos para PC */

@media (min-width: 768px) {
  body {
    width:1440px;
    height: 1024px;
    margin: 0;
    padding: 0 auto;
    margin: 10px;
  }
  nav ul li {
    display: inline-block;
    margin: 0 ;
}
 header{
  margin: 0;
  padding: 0;
  height: 20%;
 }

h1{
   margin: 0;
   font-size: 105px;
    height:100%;
    text-align: center;
    justify-content: center;
    margin-top: -10px;
    padding: auto;
}
 
/*margin-top: 95px;*/


.container-ballon-1{
  display: flex;
   padding: 0;
   margin-left: 13%;
   margin-top: 20px;
   height: 100%;
}

#image-ballon {
width: 250px;
height: 250px;
}
.home-text{
  margin-top: 15%;
  font-size: 36px; 
  left: 50%;  
}
.red_choose {
  height: 55px;
  width: 460px;
  margin:0;
  font-size: 50px;
  align-content: center;
  padding: 0;
  margin-top: -40px;
}

.cups-mobile{
  height: 400px;
  width: 750px;
  background-color: hsl(263, 44%, 44%,80%); 
  border: 16px solid rgba(247, 224, 52, 80%); 
  border-radius: 50px;
  margin: 5px ;
  margin-left: 25%;
  align-content: center;
  display: flex; 
  position: relative;
}
.circus {
  width: 200px;
  height: 300px;
  background-color: transparent; 
  border: transparent; 
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex; 
  align-items: center; 
}
.image-container img {
  max-width: 100%;
  max-height: auto;
 gap:20%;

}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}



.rectangle {
  height: 50%;
  margin-top: -30%;
  justify-content: space-between;
}
.rectangle img{
  gap:20%;
}
.terms{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:10%
}
.lower{
  align-items:self-start;
}
.red_play {
  height: 70px;
  width: 250px;
  font-size: 65px;
  margin-top: 2px;
  margin-left: 40%;
  align-items: center;
  -webkit-text-stroke: 2px black;
  display: 5%;
}
.sound-button img {
  width: 70px;
  height: 70px;
}
 
  
  .terms li {
      height: 20%;
      width: 100%;
  }

  .cups_mobile {
    display: none;
  }

  .cups_desktop {
    display: inline;
  }
  

footer {
  height: 35px;
  bottom: 0;
  left: 0;
  padding: 0;
  font-family: Josefin Sans, Arial;
  text-align:center;
  justify-content:center;
  flex-direction: column;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
}

/* Estilos responsivos para móvil pequeño 

@media (min-width: 393px) {
  nav ul li {
      display: inline-block;
      margin: 0 1rem;
  }

  header, nav, main, footer {
    padding: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}
} */